
" settings {{{
" set number
set number
set relativenumber

" search
set hlsearch
set ignorecase
set incsearch
set smartcase

" status line
set showmode
" }}}


" enable extension
set surround

" maps {{{
map <c-j> <c-x>
map <c-k> <c-a>
" }}}

" vim:foldmethod=marker:foldlevel=0
