snippet std "use namespace std" b
using namespace std;
endsnippet

snippet class "class" b
class ${1:Class} ${2:: public $3 }{
public:
	$1();
	~$1();
	$4
private:
	$5
	$1(const $1&); // asssignment
	$1& operator=(const $1&); // copy
};
endsnippet

snippet op "operator" w
operator${1:==}
endsnippet

