snippet yufan "assgnment header" b
// Financial Computing 1, Fall 2016
// Homework ${1:1.1}
// File: ${2:`!v expand('%:t')`}
// Authors: Yufan Lu and Shenchao Qiu
// Andrew IDs: yufanl and shenchaq
// Description: ${3}
endsnippet
